body {
    background-color: #252535;
    font-family: 'Roboto Slab', sans-serif; 
    color: #D9D9D9;
    margin: 0;
}

h2 {
    display: inline-block;
    background-color: #645969;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px 15px;
    margin: 0 auto;
    text-transform: uppercase;
}

.buttons {
    display: flex;
    gap: 20px;
}
  
.btn {
    background-color: #D9D9D9;
    box-shadow: 2px 5px 0px 0px rgba(128, 211, 155, 0.5);
    text-align: center;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: #252535;
    font-size: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-transform: uppercase;
}

.main-container {
    margin-top: 30px;
}

#title {
    margin-left: 21%;
}

label {
    font-size: 25px;
}

.text-danger {
    color: red;
}

#wordPreview {
    width: 300px;
    height: 150px;
    overflow: auto;
    background-color: #645969;
}

.wordList {
    list-style: none;
    font-size: 25px;
}

.wordList li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}