body {
  background-color: #252535;
  font-family: "Roboto Slab", sans-serif;
  color: #d9d9d9;
}

.login-container {
  max-width: 550px;
  margin: auto;
  margin-top: 100px;
  padding: 40px;
  background-color: #45364b;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

input.form-control {
  background-color: #d9d9d9;
  font-size: 18px;
}

.btn-login {
  background-color: #d9d9d9;
  font-size: 20px;
  box-shadow: 2px 5px 0px 0px rgba(128, 211, 155, 0.5);
}

.btn-login:hover,
.btn-login:active {
  background-color: #7887b6;
  box-shadow: 2px 6px 0px 0px rgba(128, 211, 155, 0.8);
}

.toggle-password {
  color: #d9d9d9;
}

.toggle-password:hover,
.toggle-password:active {
  color: #7887b6;
}

h2 {
  color: #d9d9d9;
  text-shadow: -1px -1px 0 #45364b, 1px -1px 0 #45364b, -1px 1px 0 #45364b,
    1px 1px 0 #45364b;
  font-size: 48px;
}

.create-account-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 18px;
}

.create-account-btn:hover,
.create-account-btn:active {
  background-color: #7887b6;
}

.exit-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #80d39b;
  font-size: 24px;
}

.exit-icon:hover {
  color: #7887b6;
}
